@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb); 
@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicBoldWeb);
@font-face {font-family:NanumGothic; src:url(NanumGothic.eot);}
@font-face {font-family:NanumGothicExtraBold; src:url(NanumGothicExtraBold.eot);} 
@charset "utf-8";

body {
	font-family:NanumGothic, 'NanumGothicWeb';
}
strong {
	font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';
}
header{
	height: 94px;
	background-color: #393939;
	border-bottom: 6px solid #ffb55f;
}
.left{ float:left; }
.right{ float:right; }
.japanese{font-family:'Gulim';}
header .back{ margin: 33px 0 0 26px; }
header .doc{ margin: 27px 31px 0 0; }
header .home{ margin: 25px 42px 0 0; }
header .select{ margin: 20px 0 0 34px; }

.search{
	font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';
	letter-spacing:1px;
	margin: 20px 0 0 35px;
	padding:0 0 0 55px;	
	width:268px;height:50px;line-height:32px;
	font-size:32px;
	color:#ababab;
	border:3px solid #777;
	background-color:#363636;

	background:url('./images/search.jpg') no-repeat 11px 11px;
	-moz-border-radius:15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari, Chrome */
	-khtml-border-radius: 15px; /* KHTML */
	border-radius: 15px; /* CSS3 */
	behavior:url("border-radius.htc");
}

#content .title{ border-bottom:1px solid #7b7b7b;padding:22px 26px; }
#content h1{vertical-align:top;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';font-size:35px;letter-spacing:-1px;}
#content .icon{margin-right:15px;margin-top:6px;}
#content h2{vertical-align:top;color:#636363;margin:10px 0 0 10px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';font-size:23px;letter-spacing:-1px;}
#content .star{ margin:2px 0 0 50px}
#content .info{ border-top:1px solid #cfcfcf;padding:15px 22px; }

#content .info img{float:left;margin-right:20px;}
#content .info .address{font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';font-size:20px;letter-spacing:-2px;color:#252525;margin-top:10px;line-height:27px;}
#content .info .detail{color:#636363;margin-top:30px;}
#content .info ul{margin:18px 0 47px 0;border:1px solid #a9a9a9;padding:23px 40px 0 40px;color:#636363; display:block;float:left;}
#content .info li{padding-bottom:23px;}

#content .info ul{padding-left:20px;}
#content .info ul { list-style: none;}

#content .info ul li:before {
   content: "•";
   font-size: 120%;
}
#content .inout{font-size:25px;margin:18px 0 47px 0;border:1px solid #a9a9a9;padding:23px 30px 0 30px;color:#636363; display:block;float:left;}
#content .in{float:left;width:35%;color:#252525;margin-bottom:20px;}
#content .out{float:left;width:65%;color:#252525;margin-bottom:20px;}
#content .inout .info{border:0;margin:0;padding:0;float:left;margin-bottom:25px;}
#content .inout img{margin-top:-3px;}
#reservation {clear:both;margin:0 10px;border-top:4px solid black;border-bottom:4px solid black;}
#reservation ul,#reservation li,#reservation dt,#reservation dd{display:inline;list-style:none;}
#reservation dl{font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';font-size:23px;height:88px;line-height:88px;border-bottom:2px solid #bcbcbc;}
#reservation dt{float:left;width:43%;color:#636363;padding-left:25px;}
#reservation dd{color:#ef4123;padding-left:25px;}
#reservation .meal{float:left;width:12%;text-align:center;}
#reservation .meal img{margin-bottom:-11px;}
#reservation .price{float:left;width:30%;text-align:left;}
#reservation .more img{margin-bottom:-5px;text-align:right;}
#reservation .last{ border:0;}

.footer{margin: 30px 10px 25px 10px;}
.footer ul,.footer li{display:inline;list-style:none;}
.footer ul{float:left;width:100%;}
.footer li{float:left;width:33.33%;}


.aleft{text-align:left;}
.acenter{text-align:center;}
.aright{text-align:right;}

#detail{float:left;width:95%;margin:25px 2.5%;}
#detail .scrollwrap{overflow-y:scroll;  height:612px; padding:30px 15px; border:1px solid #a9a9a9;color:#636363;font-family:'NanumGothicWeb', NanumGothic;font-size:23px;line-height:35px;letter-spacing:-1px;}
.rollmenu{cursor:pointer;}

.list ul li img{display:block;float:left;margin-right:2px;}
.list{float:left;margin:19px 0 15px 0;width:100%;border-bottom:4px solid #515151;height:50px;overflow:none;}
.list ul{padding-left:15px;}

#hotel ul,#hotel li{display:inline;list-style:none;}
#hotel ul{float:left;padding:15px 0;height:10px;height:150px;border-bottom:1px solid #bcbcbc; width:100%;}

#hotel .img{float:left;width:30%;}
#hotel .img img{border:3px solid #7b7b7b;margin:0 14px 0 22px;}
#hotel .title{float:left;width:65%;font-size:30px;letter-spacing:-1px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';line-height:35x;}
#hotel .subtitle{color:#448ccb;float:left;width:65%;font-size:20px;letter-spacing:-1px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';line-height:35px;}
#hotel .description{float:left;width:65%;font-size:22px;letter-spacing:-1px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';line-height:35px;}
#hotel .price{float:left;width:35%;font-size:35px;letter-spacing:-1px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';line-height:50px;color:#ef4123;}
#hotel .star{float:left;margin-top:15px;}
#hotel .more{width:5%;}
#hotel .more img{padding-top:60px;}

footer{font-size:47px;color:#fff;letter-spacing:-1px;font-family:NanumGothicExtraBold, 'NanumGothicBoldWeb';line-height:35px;font-weight:bold;}

footer{position:fixed;left:0;bottom:0;}
footer{float:left;width:100%;height:100px;background-color:#8e8d83;}
footer .checkout{float:left;margin:23px 0 0 41px;}
footer .checkout img{display:block;margin: 13px 0 0 7px;}
footer .checkin{float:left;margin:23px 0 0 31px;}
footer .checkin img{display:block;margin: 13px 0 0 7px;}
footer .footer_home{float:right;margin:23px 30px 0 0;vertical-align:top;}
footer .footer_home img{margin-top:12px;}
footer .footer_person{float:right;margin:23px 39px 0 0;vertical-align:top;}
footer .footer_person img{margin-top:12px;}