@charset "utf-8";

/********************************************* Common *********************************************/
h3 { font-size: 18px; }
h4 { font-size: 17px; margin-bottom: 5px; }
.container { margin: auto; width: 94%; }
.buttonContainer { margin: auto; width: 98%; height: 40px; }
#bodyWrapper { margin-bottom: 20px; }

/********************************************* Contents Cell Style *********************************************/

div.tabContents ul { margin-bottom: 10px; }
div.tabContents ul.withArrow > li { background-image: url('../img/arrow.png'); background-repeat: no-repeat; background-position: right; background-size: 15px;  }
div.tabContents ul.withArrow > li span { display: block; }
div.tabContents ul.withArrow > li span:last-child { font-size: 17px; float: right; font-weight: bold; }
div.tabContents li {
	background-color: white; border-bottom: 2px #dddddd solid;
	padding: 5px 20px 5px 10px; display: block; position: relative; height: 25px; line-height: 25px; display: table; width: 100%;
}
div.tabContents li:first-child {

	border-top: 3px #000 solid;
}
div.tabContents li:last-child {

	border-bottom: 3px #bbbbbb solid; margin-bottom: 10px;
}
div.tabContents li.solo {
	border: 1px #bbbbbb solid;
	margin-bottom: 10px;
}
div.tabContents h5 { margin-top:5px; margin-bottom:5px; font-size:25px;}
div.tabContents span.label { width: 85px; color:#999; font-family:"돋움"; font-style:normal; font-size: 18px; text-align: center; }
div.tabContents span.label > img { width: 85px; }
div.tabContents span.input { width: 100%; font-size:18px;}
div.tabContents span.input > input, div.tabContents span.input > select { width: 100%; border: 1px solid #dedede; padding: 2px 5px 2px; font-size: 15px; -webkit-appearance:none; }
div.tabContents span.input > input.focus, div.tabContents span.input > select.focus { border: 1px solid #00acdb!important; color: #00acdb!important; }
div.tabContents span.input > select { background-image: url('../img/selectArrow.png'); background-repeat: no-repeat; background-position: right 3px; background-size: 20px; }
div.tabContents span.input > select.focus { background-position: right -20px;}
div.tabContents ul#roomBaseInformation select { width: 49%!important; }
div.tabContents ul#roomBaseInformation select:first-child { margin-right: 1%; } 
div.tabContents span.input > input.date { background-image: url('../img/inputCalendar.png'); background-repeat: no-repeat; background-position: right 3px; background-size: 20px; }
div.tabContents span.input > input.date.focus { background-position: right -17px; }
div.tabContents li.notice { font-size: 12px; text-align: center; }

div.tabContents div.pic { width: 60px; display: table-cell; padding-right: 10px; }
div.tabContents div.pic img { width: 60px; }
div.tabContents div.desc { display: table-cell; width: 100%; float: right; height: 60px; line-height: 17px;  }
div.tabContents div.desc > img { width: 76px; }
div.tabContents div.desc span { display: block; font-size: 13px;  }
div.tabContents div.desc span:first-child { height: 20px; font-size: 16px; vertical-align: middle; }
div.tabContents div.desc span:first-child > img { height: 15px; vertical-align: middle;  float: right; }
div.tabContents div.desc span:nth-child(2) { overflow: hidden; height: 15px; }
div.tabContents div.desc span:last-child { float: right; margin-top: 5px; font-size: 16px; }

div.hotelDetail img#info{width:100px; height:50px; margin-left:20%;}
div.hotelDetail { width:100%; height:50px; border-bottom:#999 1px solid;}
div.hotelDetail span.co { font-size: 30px; vertical-align: top; font-style:inherit;}
div.hotelDetail span.thumbnail { padding-right: 10px; display: table-cell; width: 75px; }
div.hotelDetail span.thumbnail img { width: 75px; }
div.hotelDetail span.info { float: right; height: 75px; width: 100%; display: table-cell;}
div.hotelDetail span.info > span { display: block; padding-bottom: 5px; margin-bottom: 5px; border-bottom: #999 solid 1px; }
div.hotelDetail span.info > span:first-child h5 { font-size: 16px;  }
div.hotelDetail span.info > span:last-child { border-bottom: 0px; }

/********************************************* Header Style *********************************************/
div#header { height: 40px; border-bottom: 3px solid #F90; box-shadow: 0px 1px 0px #dfdfdf; margin-bottom: 8px; background-color:#000; }
div#header img { position: absolute; width: 22px; top: 10px; left: 10px;}
div#header img#home { width: 40px; top:7px; left: 80%;}
div#header img#document {width: 40px; top:7px; left: 90%;}
div#header img#back { position: absolute; width: 50px; top: 6px; left: 10px; }
div#header img#logo { text-align: center; height: 25px; width: auto; }
div#header h3 { text-align: center; line-height: 40px; }
/********************************************* Tab Button Style *********************************************/
div#tabButton { height: 36px; border-bottom: 1px solid #C9C9C9; padding: 0 2% 0 2%; }
div#tabButton > div.tabButton { 
	font-size: 21px; text-align: center; float: left; width: 50%; border-top-left-radius: 5px; border-top-right-radius: 5px; 
	height: 36px; line-height: 36px;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #c8c8c8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#c8c8c8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#c8c8c8 100%); /* IE10+ */
	background: linear-gradient(top,  #e8e8e8 0%,#c8c8c8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-9 */
	text-shadow: 1px 1px 0px white;
}
div#tabButton > div.tabButton.selected { 
	color: white;
	background: #00bff3!important; /* Old browsers */
	background: -moz-linear-gradient(top,  #00bff3 0%, #00acda 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bff3), color-stop(100%,#00acda))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00bff3 0%,#00acda 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00bff3 0%,#00acda 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00bff3 0%,#00acda 100%)!important; /* IE10+ */
	background: linear-gradient(top,  #00bff3 0%,#00acda 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bff3', endColorstr='#00acda',GradientType=0 )!important; /* IE6-9 */
	text-shadow: none!important;
}

/********************************************* Blue and Gray Button style *********************************************/
.blueButton {
	width: 100%; height: 100%; border-radius: 20px; border: 0px; color: white; font-size: 18px; padding: 5px 0px 5px; font-weight: bold; 
	background: #5cc7f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #5cc7f2 0%, #44b3df 50%, #2ea1ce 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5cc7f2), color-stop(50%,#44b3df), color-stop(100%,#2ea1ce)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5cc7f2 0%,#44b3df 50%,#2ea1ce 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5cc7f2 0%,#44b3df 50%,#2ea1ce 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5cc7f2 0%,#44b3df 50%,#2ea1ce 100%); /* IE10+ */
	background: linear-gradient(top,  #5cc7f2 0%,#44b3df 50%,#2ea1ce 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cc7f2', endColorstr='#2ea1ce',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px #4f77ad;
}

.blueButtonSelected {
	background: #2fa1cf!important; /* Old browsers */
	background: -moz-linear-gradient(top,  #2fa1cf 0%, #46b5e1 50%, #5cc7f2 100%)!important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fa1cf), color-stop(50%,#46b5e1), color-stop(100%,#5cc7f2))!important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2fa1cf 0%,#46b5e1 50%,#5cc7f2 100%)!important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2fa1cf 0%,#46b5e1 50%,#5cc7f2 100%)!important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2fa1cf 0%,#46b5e1 50%,#5cc7f2 100%)!important; /* IE10+ */
	background: linear-gradient(top,  #2fa1cf 0%,#46b5e1 50%,#5cc7f2 100%)!important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa1cf', endColorstr='#5cc7f2',GradientType=0 )!important; /* IE6-9 */
}

.grayButton
{
	width: 48%; border-radius: 15px; border: 0px; font-size: 18px; padding: 5px 0px 5px; font-weight: bold; color: #616161; text-shadow: 0px 1px 0px white; 
	background: #d3d3d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #c4c4c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d3d3d3 0%,#c4c4c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#c4c4c4 100%); /* IE10+ */
	background: linear-gradient(top,  #d3d3d3 0%,#c4c4c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 1px 1px #999999;
}

/************* Switch ************/
.switch { background-image: url('../img/onoff.png'); background-repeat: no-repeat; width: 87px; height: 31px; float: right; }
.switch.on { background-position: 0px 0px; }
.switch.off { background-position: 0px -36px; }

/***********************************/
ul#teenAgeInformation span.single select { width: 100%; }
ul#teenAgeInformation span.double select { width: 50%; }
ul#teenAgeInformation span.triple select { width: 33%; margin-right: 0.3%; }
ul#teenAgeInformation span.quadruple select { width: 25%; }